.signup-form-container {
    margin: max(4em, 7vw);
    margin: auto;
    margin-top: 8%;
    margin-bottom: 2%;
    padding: max(2.7em, 4%);
    padding-top: 2.3em;
    padding-bottom: 2em;
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px #ddd;
    box-shadow: 0 0 20px #ddd;
    border-radius: 2em;
    width: max(37em, 44vw);

    .form-title {
        font-size: max(24px, 2vw);
        font-weight: 400;
    }

    .welcome-text {
        width: 80%;
        margin: 1em 0;
    }

    form {

        .name-input-container {
            display: flex;
            justify-content: space-between;

            .name{
                width: 100%;
            }
        }


        .input-container,
        .name,
        .last-name,
        .password,
        .confirm-password {
            label {
                font-size: max(13px, .85vw);
            }

            .inner-input-container {
                margin: 1em 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                outline: 1px solid #ddd;
                padding: 0 max(14px, 1vw);
                border-radius: 2em;
                width: 100%;

                // span {
                //     margin-right: max(7px, 1vw);
                //     height: max(11px);
                // }
                .person-icon, .email-icon, .lock-icon, .eye-icon{
                    margin-right: max(7px, 1vw);
                    height: max(12px, 1vw);
                }

                input {
                    // flex: 1;
                    width: 70%;
                    margin-right: auto;
                    outline: none;
                    border: none;
                    font-size: max(13px, .87vw);
                    background-color: initial;
                    height: 40px;
                }

                .eye-icon {
                    margin-right: 0;
                    // height: max(14px, 1.1vw);
                }

                // .person-icon,
                // .lock-icon {
                //     height: max(14px, 1.1vw);
                // }

                input.form-input:-webkit-autofill,
                input.form-input:-webkit-autofill:hover,
                input.form-input:-webkit-autofill:focus,
                input.form-input:-webkit-autofill:active {
                    transition: background-color 5000s ease-in-out 0s;
                    -webkit-transition: background-color 5000s ease-in-out 0s;
                    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
                    box-shadow: 0 0 0px 1000px #fff inset;
                    -webkit-text-fill-color: #333 !important;
                }
            }
        }
    }

    .suggest-password {
        display: flex;
        width: fit-content;
        margin-left: auto;
        gap: 1.5vw;
        color: #111;
        font-size: max(.89vw, 14px);
    }

    .agree-terms {
        display: flex;
        justify-content: space-between;
        padding: 1em 0;

        input {
            margin-right: .5em;
        }

        .form-label-checkbox {
            font-size: max(13px, .89vw);
        }

        a {
            color: #6C3DFF;
            font-size: max(13px, .89vw);
        }
    }

    .submit-button {
        margin-top: 1em;
        text-align: center;
        padding: 1em 0;
        background-color: #6C3DFF;
        border-radius: 2em;
        width: 100%;
        border: none;
        color: #fff;
        cursor: pointer;
    }

    .login-link {
        display: flex;
        margin: 1.5em 0;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        gap: 10px;
        font-size: max(14px, .89vw);

        a {
            color: #0080FF;
        }
    }
}