.form-container {
    margin: max(4em, 7vw);
    margin: auto;
    margin-top: 9%;
    margin-bottom: 2%;
    padding: max(2.7em, 4%);
    padding-bottom: 2em;
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px #ddd;
    box-shadow: 0 0 20px #ddd;
    border-radius: 2em;
    width: max(21em, 35vw);

    @media(max-width:400px) {
        padding: 2.5em 1.4em;
    }


    .form-title {
        font-size: max(24px, 2vw);
        font-weight: 400;
    }

    .welcome-text {
        width: 80%;
        margin: 1em 0;
    }

    form {
        .input-container {
            label {
                font-size: max(14px, 1vw);
            }

            .inner-input-container {
                margin: 1em 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                outline: 1px solid #ddd;
                padding: 0 20px;
                border-radius: 2em;

                span {
                    margin-right: 1em;
                }

                input {
                    flex: 1;
                    outline: none;
                    border: none;
                    height: 4em;
                    background: inherit;
                }

                input.form-input:-webkit-autofill,
                input.form-input:-webkit-autofill:hover,
                input.form-input:-webkit-autofill:focus,
                input.form-input:-webkit-autofill:active {
                    transition: background-color 5000s ease-in-out 0s;
                    -webkit-transition: background-color 5000s ease-in-out 0s;
                    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
                    box-shadow: 0 0 0px 1000px #fff inset;
                    -webkit-text-fill-color: #333 !important;
                }
            }
        }

        .agree-terms {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1em 0;

            #keep-logged {
                margin-right: .4em;
            }

            .form-label-checkbox {
                font-size: max(13px, .89vw);
            }

            .link {
                color: #0080FF;
                font-size: max(13px, .89vw);
            }
        }

        .button-container {
            margin-top: 1em;
            text-align: center;
            background-color: #6C3DFF;
            border-radius: 2em;

            .submit-button {
                border: none;
                background-color: inherit;
                border-radius: 2em;
                color: #fff;
                cursor: pointer;
                width: 100%;
                padding: 1em 0;
            }

            .mess{
                background-color: #0080FF;
                border-radius: 2em;
                padding: 1em 0;
                color: #fff;
            }
        }

        .signup-link {
            margin: 1.5em 0;
            margin-bottom: 0;
            display: flex;
            justify-content: center;
            gap: 10px;
            font-size: max(14px, .89vw);

            a {
                color: #0080FF;
            }
        }
    }
}