.request-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 4em 10%;

    @media (max-width: 700px) {
        display: block;
        margin: 20% 2em;
    }

    .text h4 {
        font-weight: 400;
        font-size: max(18px, 1.6vw);
        @media (max-width: 700px) {
            margin: 2em 1em;
        }
    }

    .form {
        margin: max(4em, 7vw);
        margin-right: 0;
        margin-left: 4%;
        margin-top: 5%;
        padding: max(2.7em, 4%);
        padding-top: 2.3em;
        padding-bottom: 2em;
        background-color: #fff;
        -webkit-box-shadow: 0 0 20px #ddd;
        box-shadow: 0 0 20px #ddd;
        border-radius: 2em;
        width: max(32em, 39vw);

        @media (max-width: 700px) {
            width: 100%;
            margin-left: 0;
        }

        .form-title {
            font-size: max(18px, 1.7vw);
            font-weight: 400;
            margin-bottom: 1em;
        }

        .welcome-text {
            width: 80%;
            margin: 1em 0;
        }

        form {

            .name-input-container {
                display: flex;
                justify-content: space-between;

                .name,
                .last-name,
                .password,
                .confirm-password {
                    width: 46%;
                }
            }

            .input-container,
            .name,
            .last-name {
                label {
                    font-size: max(13px, .85vw);
                }

                .inner-input-container {
                    margin: 1em 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    outline: 1px solid #ddd;
                    padding: 0 max(14px, 1vw);
                    border-radius: 2em;
                    width: 100%;

                    .person-icon,
                    .email-icon,
                    .lock-icon,
                    .eye-icon {
                        margin-right: max(7px, 1vw);
                        height: max(12px, 1vw);
                    }

                    input {
                        width: 70%;
                        margin-right: auto;
                        outline: none;
                        border: none;
                        font-size: max(13px, .87vw);
                        background-color: initial;
                        height: 40px;
                    }

                    .eye-icon {
                        margin-right: 0;
                    }

                    input.form-input:-webkit-autofill,
                    input.form-input:-webkit-autofill:hover,
                    input.form-input:-webkit-autofill:focus,
                    input.form-input:-webkit-autofill:active {
                        transition: background-color 5000s ease-in-out 0s;
                        -webkit-transition: background-color 5000s ease-in-out 0s;
                        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
                        box-shadow: 0 0 0px 1000px #fff inset;
                        -webkit-text-fill-color: #333 !important;
                    }
                }
            }

            .message-box {
                input {
                    width: 100%;
                    padding: 0 10px;
                    border-radius: 3em;
                    border: 1px solid #ddd;
                    // height: 5em;
                }
            }
        }


        .send-btn {
            margin-top: 1em;

            input {
                text-align: center;
                padding: .6em 0;
                background-color: #6C3DFF;
                border-radius: 2em;
                width: 100%;
                border: none;
                color: #fff;
                cursor: pointer;
            }
        }
    }
}